<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultAcceptMessagePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.180:8083/services/Mirth"
                binding="basicHttpBinding" bindingConfiguration="DefaultAcceptMessagePortBinding"
                contract="MirthWS_ris.DefaultAcceptMessage" name="DefaultAcceptMessagePort" />
        </client>
    </system.serviceModel>
</configuration>